{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
    <form method="post" action="{% url 'comment' i %}">
        {% csrf_token %}
        <textarea class='form-control' placeholder="write your comments..." id="comm_{{i}}" name="comment" rows="3"></textarea>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
{% endif %}
{%if m%}
{{m}}
{% else %}
<h4 style="margin:10px">Comments</h4>
{% for c in comms %}
<div class="posts">
<h4>{{c.commenter}}</h4>
<p>{{c.comment}}</p>
</div>
{% endfor %}
{% endif %}


{% endblock %}