{% extends "network/layout.html" %}

{% block body %}

{% for post in posts %}
<div class="posts">
<a href='{% url 'profile' post.creater.id %}'><h4>{{post.creater}}</h4></a>
<h5>{{post.content}}</h5>
<p>{{post.time}}</p>
<p><b>{{post.liked.count}}</b></p>
</div>
{% endfor %}

<nav aria-label="Page navigation example">
    <ul class="pagination">
    {% if posts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {%endif%}
      {% if posts.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{posts.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}