{% extends "network/layout.html" %}

{% block body %}

<div class='user_name'>{{usr}}
{% if user.is_authenticated %}
{% if u == False and s == False %}
<form action='{% url 'follow' usr.id %}' method='post'>
    {% csrf_token %}
    <div id='follow'>
        <button class='btn btn-success'>Follow</button>
    </div>
</form>
{% endif %}
{% if u == False and s == True %}
<form action='{% url 'unfollow' usr.id %}' method='post'>
    {% csrf_token %}
    <div id='follow'>
        <button class='btn btn-danger'>Unfollow</button>
    </div>
</form>
{% endif %}
{% endif %}
</div>
<div id='foll'>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><h6>Following : <b>{{fr.count}}</b><h6></li>
        <li class="list-group-item"><h6>Followers : <b>{{fg.count}}</b><h6></li>
      </ul>
</div>

{% for post in posts %}
<div class="posts">
  <div id='p'>
    {% if post.image %}
    <div class="col-md-4">
      <img src="{{post.image.url}}" class="img-fluid rounded-start">
    </div>
    {% endif %}
    <div id='c'>
      <h5>{{post.content}}</h5>
      <p>{{post.time}}</p>
    </div>
  </div>

  <div class = 'd-flex justify-content-flex-start'>
    <i style="font-size:16px; margin-left:20px" class="fa">&#xf087;</i><b><p id='count_{{post.id}}'>{{post.liked.count}}</p></b></li>
    {% if user.is_authenticated %}
      {% if post in liked %}
        <button style="width:40px" class="btn btn-danger fa fa-thumbs-down col-1" id='btn_{{ post.id}}' onclick="likeHandler({{post.id}},{{p_id}})"></button>
      {% else %}
        <button style="width:40px" class="btn btn-success fa fa-thumbs-up col-1" id='btn_{{ post.id}}' onclick="likeHandler({{post.id}},{{p_id}})"></button>
      {% endif %}
    {% endif %}
    <a style='margin-left:10px' href='{% url 'readcomms' post.id %}' id='comm_a{{post.id}}'>Comments</a>
    </div>

{% if u %}
<div id='edit_btn'>
<button type='button' class="btn btn-warning" data-bs-toggle='modal' data-bs-target="#modal_{{post.id}}">Edit</button>
<div class="modal fade" tabindex="-1" id="modal_{{post.id}}" aria-labelledby="modal_{{post.id}}Label" aria-hidden='true'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id='modal_{{post.id}}Label'>Edit Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <textarea rows="5" style="width: 90%" id="textarea_{{post.id}}" name='content' class='form-control'>{{post.content}}</textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="onsave({{post.id}})">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
<form action="{% url 'delete' post.id %}" method="post">
    {% csrf_token %}
    <button class="btn btn-danger">Delete</button>
</form>
{% endif %}
</div>
</div>
{% endfor %}

<nav aria-label="Page navigation example">
    <ul class="pagination">
    {% if posts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {%endif%}
      {% if posts.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{posts.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}