{% extends "network/layout.html" %}

{% block body %}

<div class='user_name'>{{usr}}
{% if u == False and s == False %}
<form action='{% url 'follow' usr.id %}' method='post'>
    {% csrf_token %}
    <div id='follow'>
        <button class='btn btn-success'>Follow</button>
    </div>
</form>
{% endif %}
{% if u == False and s == True %}
<form action='{% url 'unfollow' usr.id %}' method='post'>
    {% csrf_token %}
    <div id='follow'>
        <button class='btn btn-danger'>Unfollow</button>
    </div>
</form>
{% endif %}
</div>
<div id='foll'>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><h6>Following : <b>{{fr.count}}</b><h6></li>
        <li class="list-group-item"><h6>Followers : <b>{{fg.count}}</b><h6></li>
      </ul>
</div>

{% for post in posts %}
<div class="posts">
<h5 id='content_{{post.id}}'>{{post.content}}</h5>
<p>{{post.time}}</p>
<p><b>{{post.liked.count}}</b></p>
{% if u %}
<div id='edit_btn'>
<button type='button' class="btn btn-warning" data-bs-toggle='modal' data-bs-target="#modal_{{post.id}}">Edit</button>

<div class="modal fade" tabindex="-1" id="modal_{{post.id}}" aria-labelledby="modal_{{post.id}}Label" aria-hidden='true'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id='modal_{{post.id}}Label'>Edit Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <textarea rows="5" style="width: 90%" id="textarea_{{post.id}}" name='content' class='form-control'>{{post.content}}</textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="onsave({{post.id}})">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
<form action="{% url 'delete' post.id %}" method="post">
    {% csrf_token %}
    <button class="btn btn-danger">Delete</button>
</form>
{% endif %}
</div>
</div>
{% endfor %}

<nav aria-label="Page navigation example">
    <ul class="pagination">
    {% if posts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {%endif%}
      {% if posts.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{posts.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}